<% global_css_js_file("attendance") %>

<% if @member.errors.any? %>
<div id="error_explanation">
  <h2>There were some errors signing you in!</h2>
  <ul><% @member.errors.full_messages.each do |m| %><li><%= m %></li><% end %></ul>
</div>
<% end %>
<div class="hero-unit" id="register-area">
  <div class="pre-header">
    <%= @event.name %>
  </div>
  <%= page_title @event.club.name %>
  
  <!-- Auto ASURITE information -->
  <div id="asurite-completion">
    <p>Please enter your <b>my.asu.edu username</b> or another email address below to sign in to this event.</p>
    <form method="get" id="asuritefun" data-url="<%= url_for :action => 'user_lookup', :format => :json %>" autocomplete="off">
      <input id="asurite" type="text" placeholder="ASU Username or Email">
      <!-- <span id="email-text">
        @asu.edu
      </span> -->
    </form>
  </div>
  
  <!-- Manual Entry -->
  <div id="user-information">
    <p>
      Please enter the following user information to continue
    </p>
    <%= form_for(@member, :url => {:action => 'submit_attendance', :id => @event.id }, :html => {:class => "form-inline", :autocomplete => 'off'}) do |f| %>
      <div class="label-magic">
        <%= f.label :first_name %>
        <%= f.label :last_name %>
        <%= f.label :email %>
      </div>

      <div class="fields-magic">

        <%= f.text_field :first_name, :placeholder => 'Sparky' %>
        <%= f.text_field :last_name, :placeholder => 'Sundevil' %>
        <%= f.text_field :email, :placeholder => 'sparky@asu.edu' %>
      </div>

      <%= f.hidden_field :asurite %>

      <p style="margin-top:10px">
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
        <a href="#" class="manual-lookup" style="font-size: 12px;margin-left: 5px">Automatic Lookup</a>
      </p>
    <% end %>
  </div>

  <div class="help-text" id="help-text">
    Press ENTER to continue &sdot; <a href="#" class="manual-lookup">Manual Entry</a>
   </div>
</div>
<p style="font-size:11px">
  <%= link_to("Return to Event", @event) %>
</p>