<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Club Tracker', :root, :class => 'brand' %>


      <!-- Left Menu -->
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Home', :root %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'My Clubs', clubs_path %></li>
            <li><%= link_to 'Events', events_path %></li>
            <li><%= link_to 'Members', members_path %></li>
          <% end %>
        </ul>

        <!-- Profile -->
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><a>Welcome, <%= current_user.first_name %>!</a></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, confirm: 'Are you sure you want to sign out?' %></li>
          <% else %>
            <li><a>Welcome, Guest!</a></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Sign In via ASU',  user_omniauth_authorize_path(:google_oauth2) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>